<%- include('../partials/header') %>

<h2>Welcome <%= firstname %></h2>

<a href="/account/update/<%= account_id %>">Update Account Info</a>

<% if (account_type === 'Employee' || account_type === 'Admin') { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv">Manage Inventory</a></p>
<% } %>
