<header class="main-header">
  <div class="header-container">
    <% if (locals.loggedin) { %>
      <span class="welcome-text">
        Welcome <%= locals.accountData?.account_firstname %>
      </span>
      <a href="/account/logout" class="header-link">Logout</a>
      <a href="/account" class="header-link">Account Management</a>
      <li><a href="/inv">Ver Inventario</a></li>
      <% if (locals.accountData?.account_type === 'Employee' || locals.accountData?.account_type === 'Admin') { %>
        <a href="/inventory/management" class="header-link">Inventory Management</a>
      <% } %>
    <% } else { %>
      <a href="/account/login" class="header-link">Login</a>
      <a href="/account/register" class="header-link">Register</a>
    <% } %>
  </div>
</header>
