<nav>
  <%- nav %>

  <% if (!locals.loggedin) { %>
    <li><a href="/account/login">Login</a></li>
    <li><a href="/account/register">Register</a></li>
  <% } else { %>
    <li><a href="/account">Account</a></li>
    <li><a href="/account/logout">Logout</a></li>
  <% } %>
</nav>
