<% layout('layouts/layout') -%>

<main>
  <h1>Add New Classification</h1>

  <% if (message) { %>
    <div class="notice"><%= message %></div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/inv/add-classification" method="post">
    <label for="classification_name">Classification Name</label>
    <input 
      type="text"
      id="classification_name"
      name="classification_name"
      pattern="^[a-zA-Z0-9]+$"
      required
    >
    <button type="submit">Add Classification</button>
  </form>
</main>
