<% layout('layouts/layout') -%>

<main>
  <h1><%= title %></h1>

  <% if (grid) { %>
    <%- grid %> 
  <% } else { %>
    <p>No vehicles could be found for this classification.</p>
  <% } %>
</main>
